.input {
	padding: 7px 15px;

	color: var(--text);
	border: none;
	outline-color: var(--primary);

	background: var(--white);

	font-size: 16px;
	line-height: 22px;
}

.input::placeholder {
	color: #A4A4A4;
}

.input:focus {
	outline: none;
}
